<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Koya</a>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/' ]">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="[ '/properties' ]">For-Rent</a>
    </li>
  </ul>

  <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
  </form>
</nav>

<div class="container">
  <!-- Content here -->
  <router-outlet></router-outlet>
</div>
