<div class="row m-2">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Koya will help you not only find a place
      that will not only help you find a place that like,
      it will make the whole experience a pleasant one.
    </p>
    <hr class="my-4">
    <p>For Both Property Owners & Seekers </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<div class="row m-2">
  <app-estate-card [estate]="estate"></app-estate-card>
</div>
