<div class="row m-2">
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">Koya will help you not only find a place
      that will not only help you find a place that like,
      it will make the whole experience a pleasant one.
    </p>
    <hr class="my-4">
    <p>For Both Property Owners & Seekers </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<div class="row m-2 bg-dark">
  <div class="input-group mb-3 p-4"
    style="background-color: rgb(236, 225, 203);">
    <input type="text" class="form-control" placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary"
        type="button"
        style="background-color: rgb(236, 225, 203) ;
        color: rgb(84, 114, 60);"
        id="button-addon2">Search</button>
    </div>
  </div>
</div>
