<div class="row m-2">
  <div class="col">
    <div class="border bg-light">
      <div class="container">
        <h3 class="display-5">
          Property Rates & Trends In Mysore
        </h3>
        <p class="lead">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row m-2 bg-light">
  <div class="col m-2">
  </div>
  <div class="col-6 m-2">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter rent amount" aria-label=""
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
    </div>
  </div>
  <div class="col m-2">
  </div>
</div>
<div class="row m-2">
  <div class="col-4">
    Data:
  </div>
  <div class="col-8">
    <div class="progress m-2">
      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <div class="progress m-2">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
    <div class="progress m-2">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100"></div>
    </div>
  </div>
</div>
