<div class="row m-2">
  <div class="col">
    <div class="border bg-light">
      <div class="container">
        <h3 class="display-5">
          Property Rates & Trends In Mysore
        </h3>
        <p class="lead">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row m-2 bg-light">
  <div class="col m-2">
  </div>
  <div class="col-6 m-2">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter rent amount" aria-label=""
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
      </div>
    </div>
  </div>
  <div class="col m-2">
  </div>
</div>
<div>
  <div>
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col col-lg-2">
  </div>
  <div *ngFor="let estate of estates" class="col-md-auto">
    <app-estate-card [estate]="estate"></app-estate-card>
  </div>
  <div class="col col-lg-2 m-3">
    <button type="button" class="btn btn-primary btn-lg btn-block">
      Load More
    </button>
  </div>
</div>
