<div class="card m-2">
  <div class="card-header">
    {{ estate["bedroom"] }} BHK In Renuka Yellamma Nilaya, Koramangala
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="shadow">
          <img
            src="https://image.shutterstock.com/image-vector/home-icon-450w-656554627.jpg"
            class="img-fluid"
            alt="...">
        </div>
      </div>
      <div class="col-8">
        <ul class="list-group list-group-horizontal-sm m-1">
          <li class="list-group-item">
            <div class="lead">
              {{estate["bedroom"]}} Bedrooms
            </div>
            <small class="text-muted">Vitrified Tiles</small>
          </li>
          <li class="list-group-item">
            <div class="lead">
              {{estate["bedroom"]}} Baths
            </div>
            <small class="text-muted">Vitrified Tiles</small>
          </li>
          <li class="list-group-item">
            <div class="lead">
              Immediately
            </div>
            <small class="text-muted">Possesion</small>
          </li>
          <li class="list-group-item">
            <div class="lead">
              Covered
            </div>
            <small class="text-muted">Parking</small>
          </li>
        </ul>
        <p>Rent Per Month :{{estate["cost"]}}</p>
        <p>Advance :{{estate["advance"]}}</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source
            Title">Source Title</cite></footer>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
