<div class="card m-2">
  <div class="card-header">
    {{ estate["bedroom"] }} BHK In Renuka Yellamma Nilaya, Koramangala
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="shadow">
          <img src="https://image.shutterstock.com/image-vector/home-icon-450w-656554627.jpg" class="img-fluid"
            alt="...">
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col border">
            <div class="lead">
              {{estate["bedroom"]}} Bedrooms
            </div>
            <small class="text-muted">Vitrified Tiles</small>
          </div>
          <div class="col border">
            <div class="lead">
              {{estate["bedroom"]}} Baths
            </div>
            <small class="text-muted">Vitrified Tiles</small>
          </div>
          <div class="col border">
            <div class="lead">
              Immediately
            </div>
            <small class="text-muted">Possesion</small>
          </div>
          <div class="col border">
            <div class="lead">
              Covered
            </div>
            <small class="text-muted">Parking</small>
          </div>
        </div>
        <div class="row m-3">
          <div class="col bg-light m-1 p-1">
            <p>Advance :{{estate["advance"]}}</p>
          </div>
          <div class="col bg-light m-1 p-1">
            <p>Rent Per Month :{{estate["cost"]}}</p>
          </div>
        </div>
        <footer class="blockquote-footer">Someone famous in <cite title="Source
            Title">Source Title</cite></footer>
      </div>
    </div>
  </div>
</div>
