<div class="card">
  <div class="card-header">
    {{ estate["bedroom"] }} BHK In Renuka Yellamma Nilaya, Koramangala
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <ul class="list-group list-group-horizontal-sm m-1">
        <li class="list-group-item">
          <div class="lead">
            {{estate["bedroom"]}} Bedrooms
          </div>
          <small class="text-muted">Vitrified Tiles</small>
        </li>
        <li class="list-group-item">
          <div class="lead">
            {{estate["bedroom"]}} Baths
          </div>
          <small class="text-muted">Vitrified Tiles</small>
        </li>
        <li class="list-group-item">
          <div class="lead">
            Immediately
          </div>
          <small class="text-muted">Possesion</small>
        </li>
        <li class="list-group-item">
          <div class="lead">
            Covered
          </div>
          <small class="text-muted">Parking</small>
        </li>
      </ul>
      <img
        src="https://image.shutterstock.com/image-vector/home-icon-450w-656554627.jpg"
        class="img-thumbnail w-25 p-3" alt="...">
      <p>Rent Per Month :{{estate["cost"]}}</p>
      <p>Advance :{{estate["advance"]}}</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source
          Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
